/* main style */

/* imports font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* Imports components css */
@import url(style-components/header.css);
@import url(style-components/banner.css);
@import url(style-components/sobremim.css);
@import url(style-components/habilidades.css);
@import url(style-components/projetos.css);
@import url(style-components/contato.css);
@import url(style-components/footer.css);


/* Variaveis raizes */
:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --color6: #2197bd;
    --white: #ffffff;
    --black: #00030c;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --font_main: "Roboto Mono", monospace;
}


/* css global */
* {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font_main);
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* tags globais */
section {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.section_blue {
    background-image: linear-gradient(90deg, var(--linear_gradient));
    background-size: 300% 300%;
    animation: moving_bg 6s ease infinite;
}

.section_white {
    background-image: url(img/Bg_white.png);
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
}


/* title and text */
h1 {
    font-size: 48px;
    font-weight: 700;
    width: 50%;
}

h1>span {
    font-size: 32px;
    border-bottom: 3px solid var(--white);
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

.blue_title {
    color: var(--color3);
    border-bottom: 3px solid var(--color3);
}

.white_title {
    color: var(--white);
    border-bottom: 3px solid var(--white);
}

h3 {
    font-size: 20px;
    font-weight: 700;
}


/* arrows */
.arrow {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.blue_arrow>a {
    color: var(--color3);
}

.arrow>a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.arrow>img {
    animation: bounce_arrows 2s ease infinite;
}


/* animations */
/* bg animatio */
@keyframes moving_bg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/* arrows animation */
@keyframes bounce_arrows {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* media querrys */
/* media - 600 */
@media only screen and (min-width: 600px) {
/* title and text */
    h1 {
        font-size: 64px;
        margin-top: 1.6em;
    }

/* arrows */
    .arrow>p {
        font-size: 28px;
    }
}

/* media - 768 */
@media only screen and (min-width: 768px) {
    * {
        font-size: 18px;
    }
}

/* media - 1024 */
@media only screen and (min-width: 1024px) {

}

/* media - 1728 */
@media only screen and (min-width: 1728px) {
    
}
