/* main style */

/* imports font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* Imports components css */
@import url(style-components/header.css);
@import url(style-components/banner.css);
@import url(style-components/sobremim.css);
@import url(style-components/habilidades.css);
@import url(style-components/projetos.css);
@import url(style-components/contato.css);
@import url(style-components/footer.css);


/* Variaveis raizes */
:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --color6: #2197bd;
    --white: #ffffff;
    --black: #00030c;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --font_main: "Roboto Mono", monospace;
}

/* css global */
* {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font_main);
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* tags globais */



/* media querrys */
/* media - 600 */
@media only screen and (min-width: 600px) {

}

/* media - 768 */
@media only screen and (min-width: 768px) {

}

/* media - 1024 */
@media only screen and (min-width: 1024px) {

}

/* media - 1728 */
@media only screen and (min-width: 1728px) {
    
}
