:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --color6: #2197bd;
    --white: #ffffff;
    --black: #00030c;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --font_main: "Roboto Mono", monospace;
}

/* banner section */
.section_banner {
    height: 70%;
    margin-top: 64px;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.section_banner>a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid var(--white);
    align-self: center;
    transition: all 0.3s ease;
}

.section_banner>a:hover {
    transform: scale(1.1);
}