:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --color6: #2197bd;
    --white: #ffffff;
    --black: #00030c;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --font_main: "Roboto Mono", monospace;
}

/* Contato */
.section_contato {
    height: 100vh;
}

.section_contato>div:first-child {
    background-image: linear-gradient(90deg, var(--linear_gradient));
    background-size: 300% 300%;
    animation: moving_bg 6s ease infinite;
}

.section_contato>div:first-child>p {
    text-indent: 16px;
}

.section_contato>div:first-child, .contact {
    height: 50%;
    padding: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.contact {
    background-image: url(../img/Bg_white.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.contact>h2 {
    color: var(--color3);
    border-bottom: 3px solid var(--color3);
}

.contact>div {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.contact>div>a {
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
}

.link_text {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid var(--black);
}


/* media querrys */
/* media - 600 */
@media only screen and (min-width: 600px) {
    .section_contato>div:first-child {
        padding: 4em;
    }
}

/* media - 1024 */
@media only screen and (min-width: 1024px) {
    .section_contato {
        display: flex;
        flex-flow: row nowrap;
    }

    .section_contato>div:first-child, .contact {
        height: 100vh;
        width: 50%;
        background-image: none;
    }

    .contact>h2 {
        color: var(--white);
        border-bottom: 3px solid var(--white);
    }

    .link_text {
        color: var(--white);
        border-bottom: 3px solid var(--white);
    }
}

/* media - 1728 */
@media only screen and (min-width: 1728px) {
    .section_contato {
        max-width: 1200px;
    }
}