:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --white: #ffffff;
    --black: #00030c;
}


/* Contato */

.section_contato {
    height: 80vh;
}

.contato_comentarios {
    height: 35vh;
    background-image: linear-gradient(90deg, var(--linear_gradient));
    background-size: 200% 200%;
    animation: moving_bg 6s ease infinite;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.contato_comentarios>h2 {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 4px solid var(--white);
}

.contato_comentarios>p {
    margin-top: 1em;
    text-indent: 16px;
}

.contato_formas {
    height: 45vh;
    background-image: url(../img/Bg_white.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.contato_formas>h2 {
    color: var(--color1);
    font-size: 32px;
    font-weight: 700;
    border-bottom: 4px solid var(--color1);
}

.icon_contato {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

label {
    border-bottom: 3px solid var(--black);
    display: flex;
    align-items: center;
    gap: 1em;
}

label>a {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}