:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --color6: #2197bd;
    --white: #ffffff;
    --black: #00030c;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --font_main: "Roboto Mono", monospace;
}

/* footer */
footer {
    padding: 1em 2em 0;
    height: 30vh;
    background-color: var(--color5);
}

footer>div {
    width: 80%;
    margin: auto;
    padding: 1em 0;
    background-color: var(--color6);
    text-align: center;
    border-radius: 24px;
}

footer>p {
    margin-top: 2.6em;
    text-align: center;
}


/* media querrys */
/* media - 600 */
@media only screen and (min-width: 600px) {
    footer {
        height: 20vh;
    }
}

/* media - 768 */
@media only screen and (min-width: 768px) {
    footer {
        height: 15vh;
    }
}

/* media - 1024 */
@media only screen and (min-width: 1024px) {
    footer {
        height: 20vh;
        position: relative;
    }

    footer>div {
        position: absolute;
        margin: 0;
        width: 50vw;
        top: -20%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

/* media - 1728 */
@media only screen and (min-width: 1728px) {
    footer {
        padding: 2em 0;
    }
}