:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --color6: #2197bd;
    --white: #ffffff;
    --black: #00030c;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --font_main: "Roboto Mono", monospace;
}

/* habilidades */
