:root {
    --color1: #5277e1;
    --color2: #3e67ce;
    --color3: #2958bc;
    --color4: #1548a9;
    --color5: #003896;
    --color6: #2197bd;
    --white: #ffffff;
    --black: #00030c;
    --linear_gradient: var(--color1), var(--color2), var(--color3), var(--color4), var(--color5);
    --font_main: "Roboto Mono", monospace;
}

/* projetos */
.section_projetos {
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


/* media querrys */
/* media - 600 */
@media only screen and (min-width: 600px) {

}

/* media - 768 */
@media only screen and (min-width: 768px) {

}

/* media - 1024 */
@media only screen and (min-width: 1024px) {

}